<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <form action="/create" method="post">
            <input type="text" id="add" class="" placeholder="Add Anything!!" name="title" required>
            <textarea id="details" placeholder="Details" name="details" required></textarea>
            <input type="submit" value="Create Task" class="btn">
        </form>
    </div>
    <div class="tasks">
        <% tasks.forEach(task => { %>
            <div class="task"><%= task %></div>
        <% }) %>
    </div>
</body>
</html>
